<header>
  <div class="wrapper top">
      <div class="top-right">
          <h1>Event</h1>
      </div>
      <div class="top-left">
          <ul class="left-nav">
              <li><button>◯</button></li>
              <li><a href="#">ログイン</a></li>
          </ul>
      </div>
  </div>
</header>
<div class="wrapper">
  <section>
      <div class="event-btn-area">
          <input class="event-btn" type="button" value="イベント追加">
          <input class="event-btn" type="button" value="イベント一覧">
      </div>
  </section>
  <section>
    <div>現在の時刻：{{ now | date: 'yyyy/MM/dd HH:mm' }}</div>
    <div class="calender">
        <table>
            <p class="month">2023.01</p>
            <tr>
                <td colspan="3" class="prev">&lt;&lt;</td>
                <td colspan="4" class="next">&gt;&gt;</td>
            </tr>
            <tr>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
                <th>日</th>
            </tr>
            <tr>
                <td class="calender-cel">
                    <p class="days">1</p>
                    <p class="text"></p>
                </td>
                <td class="calender-cel">
                    <p class="days">2</p>
                    <p class="text"></p>
                </td>
                <td class="calender-cel today">
                    <p class="days">3</p>
                    <p class="text">テキスト</p>
                </td>
                <td class="calender-cel">
                    <p class="days">4</p>
                    <p class="text"></p>
                </td>
                <td class="calender-cel">
                    <p class="days">5</p>
                    <p class="text"></p>
                </td>
                <td class="calender-cel">
                    <p class="days">6</p>
                    <p class="text"></p>
                </td>
                <td class="calender-cel">
                    <p class="days">7</p>
                    <p class="text"></p>
                </td>
            </tr>
            <tr>
                <td class="calender-cel">
                    <p class="days">8</p>
                    <p class="text"></p>
                </td>
                <td class="calender-cel">
                    <p class="days">9</p>
                    <p class="text"></p>
                </td>
                <td class="calender-cel">
                    <p class="days">10</p>
                    <p class="text"></p>
                </td>
                <td class="calender-cel">
                    <p class="days">11</p>
                    <p class="text"></p>
                </td>
                <td class="calender-cel">
                    <p class="days">12</p>
                    <p class="text">テキストテキストテキスト</p>
                </td>
                <td class="calender-cel">
                    <p class="days">13</p>
                    <p class="text"></p>
                </td>
                <td class="calender-cel">
                    <p class="days">14</p>
                    <p class="text"></p>
                </td>
            </tr>
        </table>
    </div>
  </section>
  <section>
    <div *ngFor="let schedule of schedules$ | async ">
      <ul class="schedule-list">
        <li>{{ schedule.eventDate }}</li>
        <li>{{ schedule.user.name }}</li>
        <li>{{ schedule.eventTitle }}</li>
        <li><pre>{{ schedule.eventComment }}</pre></li>
        <li><input type="button" value="修正"></li>
        <li><input type="button" value="x"></li>
      </ul>
    </div>
  </section>

  <!-- kokokara -->
  <section>
    <div *ngIf="item$ | async as item">
      <ul class="schedule-list">
        <li>{{ item.name }}</li>
        <li><pre>{{ item.event }}</pre></li>
        <li><input type="button" value="修正"></li>
        <li><input type="button" value="x"></li>
      </ul>
    </div>
  </section>
<!-- kokomade -->


  <section>
    <form>
      <input [(ngModel)]="eventDate" type="date" name="eventDate">
      <input [(ngModel)]="eventTitle" type="text" name="eventTitle">
      <textarea
        [(ngModel)]="eventComment"
        name="eventComment"
        class=""
        placeholder="イベントを入力"
      ></textarea>
      <button
        (click)="addSchedule(eventDate, eventTitle, eventComment);"
        class="btn btn-info btn-sm"
        type="submit"
      >
      送信</button>
    </form>

  </section>
</div>

<footer>
  <div class="footer">Event</div>
</footer>
